.card-container{
    border: transparent;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card{
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Benne', serif;
}

.description {
    text-align: center;
    margin: 5px 2px;
    font-size: 10px;
}

.price{
    font-weight: 600;
}

.buy-buttom {
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid black;
    margin: 5px 0;
    padding: 5px;
}

.buy-buttom:hover{
    cursor: pointer;
    background-color: black;
    color: white;

}

div {
    border: 1px solid black;
    width: 200px;
}

@media (max-width:700px) {
    .buy-buttom {
        width: 100%;
        border-radius: 0;
    }

    .card {
        flex-basis: 100%;
    }

    .description{
        display: none;
    }

    img {
        display: none;
    }
}

img {
    width: 100px;
}